[submodule "MONITORING-IN-DEVOPS-17-JAN-26"]
	path = MONITORING-IN-DEVOPS-17-JAN-26
	url = git@github.com:hkshitesh/MONITORING-IN-DEVOPS-17-JAN-26.git
[submodule "DEVOPS-ON-AWS-18-JAN-26"]
	path = DEVOPS-ON-AWS-18-JAN-26
	url = git@github.com:hkshitesh/DEVOPS-ON-AWS-18-JAN-26
